
@{
    ViewBag.Title = "home";
}

<html>
<head>

    <link href="~/css/suport_home.css" rel="stylesheet" />


</head>

<body>
    <div class="container-fluid  heightfull" style="padding:0 !important">
        <div class="row col-md-12 heightfull">

            <div class="col-sm-3 sidebar heightfull ">


            </div>

            <div class="col-md-9">



            </div>


        </div>
    </div>
 
    
</body>

</html>

